@inherits LayoutComponentBase
@using BlazorTourOfHeroes.Shared

<Navigation />

<div>
    <CascadingValue Value="state">
        @Body
    </CascadingValue>
</div>

@code{
    private HeroState state;

    protected override void OnInitialized()
    {
        state = new HeroState();
        state.OnStateChanged += StateHasChanged;
    }
}